
{% load static %}




      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">My Career</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Programming</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Project</a>
        <a class="py-2 text-dark text-decoration-none" href="#">Labview</a>
      </nav>
   
    
    
    
  