
{% load static %}




      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url  'home-page'">Home-Page</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Programming</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'contact'%}">Contact</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url  'service'%}">Service</a>
        <a class="py-2 text-dark text-decoration-none" href="#">Labview</a>
      </nav>
   
    
    
    
  